<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center">
         <div class="col-md-6">
              <div class="title">
                   <p>10:01 AM, Wednesday, 31 August 2022</p>
                   <h2> {{title}}</h2>
              </div>
         </div>
         <div class="col-md-6">
            <div class="input-group mb-3 search">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" class="form-control" placeholder="What are you searching for " aria-describedby="basic-addon1">
              </div>
         </div>
    </div>
</div>