
<div class="content">
    
    <h1>Change Password</h1>
    <div class="container login"> 
          <form [formGroup]="changePassowrdForm" (ngSubmit)="onSubmit()">
             
  
              <div class="row">
                <div class="col-md-2">
                    <label for="password">password</label>
                </div>
                
                <div class="col-md-10">
                    <input id="password" formControlName="password"
                    type="password" placeholder="Your password " class="form-control"
                    [ngClass]="{'is-invalid': submitted && f['password'].errors}">
 
                    <div
                    *ngIf="submitted && f['password'].errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="f['password'].errors['required']"
                      >password is required</span
                    >
                  </div>
                </div>
                
              </div>

              <div class="row">
                <div class="col-md-2">
                    <label for="newPassword">New Password</label>
                </div>
                
                <div class="col-md-10">
                    <input id="newPassword" formControlName="newPassword"
                    type="password" placeholder="Your new Password " class="form-control"
                    [ngClass]="{'is-invalid': submitted && f['newPassword'].errors}">
 
                    <div
                    *ngIf="submitted && f['newPassword'].errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="f['newPassword'].errors['required']"
                      >new Password is required</span
                    >
                  </div>
                </div>
                
              </div>
 
              <div class="row">
                <div class="col-md-2">
                    <label for="newPassword">confirm Password</label>
                </div>
                
                <div class="col-md-10">
                    <input id="confirmPassword" formControlName="confirmPassword"
                    type="password" placeholder="Your new Password " class="form-control"
                    [ngClass]="{'is-invalid': submitted && f['confirmPassword'].errors}">
 
                    <div
                    *ngIf="submitted && f['confirmPassword'].errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="f['confirmPassword'].errors['required']"
                      >confirm Password is required</span
                    >
                  </div>
                </div>
                
              </div>

         
 
               <button type="submit" [disabled]="disableBtnChange">Change Password</button> 
               <p *ngIf="showErrorMsg" class="alert alert-danger errorMsg">{{error}}</p>
          </form>
    </div>
</div>
